.promotion .promotion__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 690px;
  width: 978px;
  font-family: $font-family__main;
}

.promotion__video {
  width: 474px;
}

.promotion__small {
  margin-top: 49px;
  width: 475px;
  height: 380px;
}

.promotion__large {
  margin-left: -1px;
  width: 504px;
  height: 690px;
}

.promotion .slick-dots {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  list-style: none;
}

.promotion .slick-dots > li {
  width: 10px;
  height: 10px;
  font-size: 0;
}

.promotion .slick-dots > li:not(:last-of-type) {
  margin-right: 10px;
}

.promotion .slick-dots > li > button {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: transparent;
  border: 2px solid $border-color__xray-control;
}

.promotion .slick-dots > .slick-active > button {
  background-color: $background-color__highlight;
  border: none;
}

@media (max-width: $width__tablet-only) {
  .promotion .promotion__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }

  .promotion__video {
    width: calc(100% - 400px);
  }

  .promotion__small {
    position: relative;
    margin-right: 1px;
    margin-top: 25px;
    width: 399px;
    height: 380px;
    z-index: 2;
  }

  .promotion__large {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: $width__mobile-only) {
  .promotion_wrapper {
    display: block;
    margin-top: 0;
  }

  .promotion__video {
    width: 100%;
  }

  .promotion__small {
    display: block;
    margin-right: 0;
    width: 100%;
    height: 140px;
  }

  .promotion__large {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 200px;
  }

  .promotion .slick-dots {
    bottom: 10px;
    right: 10px;
  }
}
