.details > .container {
  padding-top: 31px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: $font-family__main;
}

.details__selection {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  overflow: hidden;
  border: 0;
  outline: 0;
  opacity: 0;
}

.details label {
  position: relative;
  margin-right: 65px;
  padding-bottom: 2px;
  font-size: 40px;
  font-weight: 300;
  line-height: 45px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: repeating-linear-gradient(to left, $background-color__highlight 0%, $background-color__highlight 2px, $background-color__main 2px, $background-color__main 4px);
  }
}

.details label:last-of-type {
  margin-left: 5px;
}

.details__selection--spec:checked ~ .details__specification,
.details__selection--doc:checked ~ .details__documents {
  display: flex;
}

.details__selection--descr:checked ~ .details__description {
  display: block;
}

.details__selection:checked + label {
  &::before {
    bottom: -3px;
    height: 4px;
    background-color: $background-color__highlight;
    background-image: none;
  }
}

.details__content {
  display: none;
  margin-top: 40px;
  width: 100%;
  z-index: 0;
}

@media (max-width: $width__tablet-only) {
  .details label {
    position: relative;
    margin-right: 40px;
    padding-bottom: 2px;
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;
  }

  .details label:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: $width__mobile-only) {
  .details > .container {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .details label {
    position: relative;
    margin-right: 0;
    margin-bottom: 15px;
    padding-bottom: 2px;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
  }
}
