@font-face {
  font-family: "Futura";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/FuturaPTLight.woff2") format("woff2"),
    url("../fonts/FuturaPTLight.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/FuturaPTBook.woff2") format("woff2"),
    url("../fonts/FuturaPTBook.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/FuturaPTMedium.woff2") format("woff2"),
    url("../fonts/FuturaPTMedium.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/FuturaPTHeavy.woff2") format("woff2"),
    url("../fonts/FuturaPTHeavy.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/FuturaPTBold.woff2") format("woff2"),
    url("../fonts/FuturaPTBold.woff") format("woff");
}
