html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: $font-family__main;
  background-color: $background-color__main;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.button {
  display: inline-block;
  margin: 0;
  margin-top: 0;
  padding: 8px 13.5px 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $font-color__light;
  text-transform: uppercase;
  vertical-align: top;
  letter-spacing: -0.5px;
  background-color: $background-color__highlight;
  border: none;
}

li.slider__shown {
  opacity: 1;
}

.mark {
  position: relative;
  display: inline-block;
  color: $font-color__main;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url("../img/non-content/border__special.jpg");
    background-repeat: repeat-x no-repeat;
    background-size: cover 5px;
  }
}

.mark__comment {
  position: absolute;
  bottom: 27px;
  left: 26px;
  display: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 19px;
  width: 219px;
  font-family: $font-family__main;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $font-color__main;
  background-color: $background-color__mark;
  box-shadow: 0 5px 12px 0 $shadow-color__device;

  &::before {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 16px solid $background-color__mark;
  }
}

.mark:hover .mark__comment {
  display: block;
}

@media (min-width: $width-min__desktop) {
  .container {
    width: $width-min__desktop;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (max-width: $width__tablet-only) {
  .container {
    min-width: $width-min__tablet;
    padding: 0 30px;
  }
}

@media (max-width: $width__mobile-only) {
  .container {
    min-width: $width-min__mobile;
    padding: 0 15px;
  }
}
